.MainContent{
    width: 80%;
    height: 500px;
    background-color: rgba(0, 128, 0, 0.37);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#Header{
    height: 150px;
    width: 100%;
}