.app-container{
    background-color: rgb(48, 47, 47);
    position: absolute; 
    top: 0; 
    left: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content{
    min-width: 100%;
    min-height: 90%;
}

h1 {
    font-size: 36px;
    font-size: 5.9vw;
  }
h2 {
    font-size: 26px;
    font-size: 3.0vh;
}
p {
    font-size: 16px;
    font-size: 2vmin;
}