#Character{
    width: 170px;
    aspect-ratio: 1 / 2;
    padding-bottom: 200%;
}


#TorsoHolder{
    display: flex;
    flex-direction: row;
    margin-top: -25%;
}

#Legs{
    display: flex;
    flex-direction: row;
    margin-top: -25%;
}

#Torso{
    margin-left: -61%;
    z-index: 2;
}

#LeftArm{
    margin-left: -60%;
    margin-top: 5%;
    z-index: 1;
}

#RightArm{
    margin-left: -26%;
    margin-top: 5%;
    z-index: 4;
}

#RightLeg{
    margin-left: -18%;
    z-index: 3;
}

#LeftLeg{
    margin-left: -63%;
    z-index: 1;
}


#TorsoHolder, #Legs{
    margin-left: 4%;
    height: 35%;
    z-index: 2;
}

#LeftLeg, #RightLeg, #Torso, #LeftArm, #RightArm{
    height: 100%;
}

#Head{
    height: 25%;
    z-index: 3;
}