<div id="Character">
    <img id="Head" src="assets/AvatarItems/Heads/TemplateHead.png"/>
    <div id="TorsoHolder">
        <img id="RightArm" src="assets/AvatarItems/Right_Arms/TemplateArm.png"/>
        <img id="Torso" src="assets/AvatarItems/Torsos/TemplateTorso.png"/>
        <img id="LeftArm" src="assets/AvatarItems/Left_Arms/TemplateArm.png"/>
    </div>
    <div id="Legs">
        <img id="RightLeg" src="assets/AvatarItems/Right_Legs/TemplateLeg.png"/>
        <img id="LeftLeg" src="assets/AvatarItems/Left_Legs/TemplateLeg.png"/>
    </div>
</div>