.GameContainer{
    color: white;
    text-decoration: none;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    padding-bottom: 75%;
    height: 100%;
    margin: 0px;
    padding: 5px;
}

.Thumbnail{
    height: 90%;
    border-radius: 8px;
}

.Title{
    height: 10%;
    max-width: 100%;
    font-size: 100%;
}