<img class="banner" src="../../../assets/Banners/AboutPage.png"/>
<div class="container">
    <h1>About</h1>

    <div class="featuredContent">
        <app-youtubevideo class="videos" uploaderName="Mielesplayz" publisher="https://www.youtube.com/mielesplayz" channelIcon="https://yt3.googleusercontent.com/ytc/APkrFKY8dxE6sU8IQ8kZdG7iKQkgazlZjSvnfNo_grR7=s176-c-k-c0x00ffffff-no-rj" duration="3:34" videoTitle='How to change your avatar editor in the Roblox Beta App' videoID="7sfK2ZIyEqg"/>
    </div>
    <a href="https://www.youtube.com/mielesplayz" class="youtube">Youtube</a>
    <a href="https://www.twitch.tv/mielesgames" class="twitch">Twitch</a>
    <a href="https://twitter.com/mielesgames" class="twitter">Twitter</a>
    <a href="https://www.roblox.com/users/529495773/profile" class="roblox">Roblox</a>
</div>