<img class="banner" src="../../../assets/Banners/AboutPage.png"/>
<div class="container">
    <h1>About</h1>

    <div class="featuredContent">
        <app-custom-link class="customURL" WebsiteURL="https://oldmartijntje.nl/Home" WebsiteIcon="https://i.imgur.com/PaGcvWO.png" WebsiteName="Oldmartijntje.nl" CreatorName="Oldmartijntje" CreatorPfp="https://yt3.googleusercontent.com/ytc/AIf8zZREoLe-7WYi7NcLfc0MT4hXZ_sj-2V5vvmK-fJyhw=s176-c-k-c0x00ffffff-no-rj" CreatorUrl="https://www.youtube.com/@oldmarjin"/>
        <app-youtubevideo class="videos" uploaderName="Mielesplayz" publisher="https://www.youtube.com/mielesplayz" channelIcon="https://yt3.googleusercontent.com/ytc/APkrFKY8dxE6sU8IQ8kZdG7iKQkgazlZjSvnfNo_grR7=s176-c-k-c0x00ffffff-no-rj" duration="3:34" videoTitle='How to change your avatar editor in the Roblox Beta App' videoID="7sfK2ZIyEqg"/>
        <app-roblox-game class="game" gameThumbnail="https://tr.rbxcdn.com/0390d946fe7b93c66736d26cd47295e7/352/352/Image/Png" gameTitle="Mielesplayz's Game Lobby" gameURL="https://www.roblox.com/games/6931711123/Mielesplayzs-Game-Lobby"></app-roblox-game>
    </div>
    <a href="https://www.youtube.com/mielesplayz" class="youtube">Youtube</a>
    <a href="https://www.twitch.tv/mielesgames" class="twitch">Twitch</a>
    <a href="https://twitter.com/mielesgames" class="twitter">Twitter</a>
    <a href="https://www.roblox.com/users/529495773/profile" class="roblox">Roblox</a>
</div>