<a class="outerBox" href="{{videoURL}}">
    <div class="thumbnailHolder">
        <img class="thumbnail" src="{{videoThumbnail}}"/>
        <p class="duration">{{duration}}</p>
    </div>
    <div class="titleHolder">
        <a class="publisher" href="{{publisher}}">
            <img class="uploader" src="{{channelIcon}}"/>
        </a>
        <div class="theTitle">
            <h3 class="videoTitle">{{videoTitle}}</h3>
            <h1 class="uploaderName">{{uploaderName}}</h1>
        </div>
    </div>
</a>